# [NexosBook]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [NexosBook]    Script Date: 18/02/2021 2:11:35 a. m. ******/
CREATE DATABASE [NexosBook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexoBoockFinder', FILENAME = N'C:\Users\User\NexoBoockFinder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexoBoockFinder_log', FILENAME = N'C:\Users\User\NexoBoockFinder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
ALTER DATABASE [NexosBook] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexosBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [NexosBook] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [NexosBook] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [NexosBook] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [NexosBook] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [NexosBook] SET ARITHABORT OFF 
GO
ALTER DATABASE [NexosBook] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [NexosBook] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [NexosBook] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [NexosBook] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [NexosBook] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [NexosBook] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [NexosBook] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [NexosBook] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [NexosBook] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [NexosBook] SET  DISABLE_BROKER 
GO
ALTER DATABASE [NexosBook] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [NexosBook] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [NexosBook] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [NexosBook] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [NexosBook] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [NexosBook] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [NexosBook] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [NexosBook] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [NexosBook] SET  MULTI_USER 
GO
ALTER DATABASE [NexosBook] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [NexosBook] SET DB_CHAINING OFF 
GO
ALTER DATABASE [NexosBook] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [NexosBook] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [NexosBook] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [NexosBook] SET QUERY_STORE = OFF
GO

# [dbo].[Authors]

In [0]:
USE [NexosBook]
GO

In [0]:
/****** Object:  Table [dbo].[Authors]    Script Date: 18/02/2021 2:11:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id_Author] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[BirthDate] [datetime] NULL,
	[Origin] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[Id_Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Books]

In [0]:
/****** Object:  Table [dbo].[Books]    Script Date: 18/02/2021 2:11:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id_Boock] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[CreationDate] [datetime] NULL,
	[Gender] [varchar](50) NOT NULL,
	[NumPages] [varchar](50) NULL,
	[Id_Editorial] [bigint] NOT NULL,
	[Id_Author] [bigint] NOT NULL,
 CONSTRAINT [PK_Boocks] PRIMARY KEY CLUSTERED 
(
	[Id_Boock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Editorials]

In [0]:
/****** Object:  Table [dbo].[Editorials]    Script Date: 18/02/2021 2:11:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorials](
	[Id_Editorial] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[AddressMail] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[MaxBooks] [int] NULL,
	[CurrenBooks] [int] NULL,
 CONSTRAINT [PK_Editorial] PRIMARY KEY CLUSTERED 
(
	[Id_Editorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Authors]

In [0]:
SET IDENTITY_INSERT [dbo].[Authors] ON 
INSERT [dbo].[Authors] ([Id_Author], [Name], [BirthDate], [Origin], [Email]) VALUES (1, N'Pablo ', CAST(N'1986-05-18T00:00:00.000' AS DateTime), N'Bogota', N'paod@gmail')
INSERT [dbo].[Authors] ([Id_Author], [Name], [BirthDate], [Origin], [Email]) VALUES (2, N'Alfonso', CAST(N'1986-05-18T00:00:00.000' AS DateTime), N'Bogota', N'paod@gmail')
INSERT [dbo].[Authors] ([Id_Author], [Name], [BirthDate], [Origin], [Email]) VALUES (3, N'Alfonso', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO

# [dbo].[Books]

In [0]:
SET IDENTITY_INSERT [dbo].[Books] ON 
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (1, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 1, 1)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (2, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 1, 1)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (3, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 1, 1)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (4, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 1)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (5, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 1)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (6, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 1, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (7, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (8, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (9, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (10, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (11, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (12, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (13, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 11, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (14, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 2, 3)
INSERT [dbo].[Books] ([Id_Boock], [Title], [CreationDate], [Gender], [NumPages], [Id_Editorial], [Id_Author]) VALUES (15, N'El Aca', CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Suspenso', N'300', 1, 1)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO

# [dbo].[Editorials]

In [0]:
SET IDENTITY_INSERT [dbo].[Editorials] ON 
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (1, N'Auron', N'calle 144', N'3122323', N'auron@mail.com', 1, 1)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (2, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', 1, 1)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (3, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', 1, 0)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (4, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', -1, 0)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (5, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', 2, 0)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (6, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', -1, 0)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (7, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', -1, 0)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (8, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', -1, 0)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (9, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', 1, 0)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (10, N'Lows', N'calle 124', N'3187323', N'lows@mail.com', 5, 0)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (11, N'OtroYa', N'calle 124', N'3187323', N'lows@mail.com', 5, 5)
INSERT [dbo].[Editorials] ([Id_Editorial], [Name], [AddressMail], [Phone], [Email], [MaxBooks], [CurrenBooks]) VALUES (12, N'ñ{kl{ñkl', N'calle 124', N'3187323', N'lows@mail.com', 5, 0)
SET IDENTITY_INSERT [dbo].[Editorials] OFF
GO

# [FK_Boocks_Boocks]

In [0]:
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Boocks_Boocks] FOREIGN KEY([Id_Boock])
REFERENCES [dbo].[Books] ([Id_Boock])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Boocks_Boocks]
GO

# [NexosBook]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [NexosBook] SET  READ_WRITE 
GO